@import "./styleComponents//Globals";
@import "./styleComponents/SignIn";
@import "./styleComponents/NewCase";
@import "./styleComponents/Drop";
@import "./styleComponents/FormNewCase";



@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-VariableFont_wght.ttf');
  font-weight: 500;
  font-style: normal;
}