@import "./styleComponents//Globals";
@import "./styleComponents/Header";
@import "./styleComponents/Home";
@import "./styleComponents/HomeCases";
@import "./styleComponents//SidebarCases";
@import "./styleComponents/SignIn";
@import "./styleComponents/SignUp";
@import "./styleComponents/NewCase";
@import "./styleComponents/Drop";
@import "./styleComponents/FormNewCase";
@import "./styleComponents/FormNewActuation";
@import "./styleComponents/Sunafil";
@import "./styleComponents/Footer";


@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-VariableFont_wght.ttf');
  font-weight: 500;
  font-style: normal;
}