@import "./styleComponents/Globals";
@import "./styleComponents/SignIn";
@import "./styleComponents/Footer";
@import "./styleComponents/Sunafil";
@import "./styleComponents/Header";
@import "./styleComponents/SignUp";

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-VariableFont_wght.ttf');
  font-weight: 500;
  font-style: normal;
}