<div id="container-report" style="color:#0F3041;">

      <div class="d-flex flex-column" style="margin-top:24px;">
        <img src="./img/svg/logo.svg" style="height:35px;align-self: flex-end; margin-right:30px; margin-bottom: -60px;" alt="logo"> 
        <img src="./img/banner-reporte.png" style="height: 80px; width:100%; opacity: 0.5;" alt="banner"/>
      </div>
      <div style="padding:25px 50px 0;">
        <h2>CASO ESTIBADORES</h2>
        <p style="margin:0;">Fecha de creación: "Fecha de creación" </p>
        <p>Abogado a cargo: <strong>"Abogado a cargo"</strong></p>

        <div class="d-flex flex-column" style="margin-top:40px;">

          <div class="d-flex">
            <div id="div-left" style="width:50%;">
              <div class="div-left-descripcion">
                <strong>Descripción</strong>
                <p style="width:242px; text-align:justify;">
                  Loream ipsum dolor sit amet, consectetur adipiscing elit.
                  Gravida urna et mi accumsan scelerisque. Amet magna sit mattis
                  lobortis leo.
                </p>
              </div>
              <div class="div-left-multa" style="margin-top:40px;">
                <img src="./img/svg/flecha-up.svg" style="margin-right:10px;" alt="icono multa" />
                <strong>Multa potencial</strong>
                <p style="padding-left: 45px;">S/ "Multa potencial"</p>
              </div>
              <div style="margin-top:40px;">
                <img src="" style="margin-right:10px;" alt="icono barras" />
                <strong>Riesgo</strong>
                <p style="padding-left: 45px;">tipoRiesgo</p>
              </div>
            </div>

            <div id="div-right">
              <div id="container-materias" class="div-right-materias">
                
                <img src="./img/svg/elecciones.svg" style="margin-right: 8px;" alt="icono materias" />
                <strong>Materias</strong>
                  <div id="divMaterias" style="padding-left: 45px;">
                  <p style="margin:0;" id="materia_1" class="">• Relaciones laborales</p>
                  <p style="margin:0;" id="materia_2" class="">• Seguridad y salud en el trabajo</p>
                  <p style="margin:0;" id="materia_3" class="">• Empleo y colocación</p>
                  <p style="margin:0;" id="materia_4" class="">• Intermediación laboral</p>
                  <p style="margin:0;" id="materia_5" class="">• Promoción y formación</p>
                  <p style="margin:0;" id="materia_6" class="">• Extranjeros</p>
                  <p style="margin:0;" id="materia_7" class="">• Seguridad social</p>
                  <p style="margin:0;" id="materia_8" class="">• Labor inspectiva</p>
                </div>
              </div>
              <div class="div-right-oInscripcion" style="margin-top:40px;">
                <img src="./img/svg/orden.svg" style="margin-right: 8px;" alt="icono orden" />
                <strong>Orden de Inspección</strong>
                <p style="padding-left: 45px;">"orderInspeccion"</p>
              </div>
              <div class="div-right-funcionario" style="margin-top:40px;">
                <img src="./img/svg/avatar-funci.svg" style="margin-right: 8px;" alt="icono funcionario" />
                <strong>Funcionario actual</strong>
                <p style="padding-left: 45px;">"inspectorAuxiliar"</p>
              </div>
            </div>
          </div>

          <div style="margin-top:50px;">
            <strong style="">Actuaciones</strong>
            <p style="font-size:12px; color:#BDBDBD;">
              Última actualización 19/05/2021
            </p>

            <strong style="color:#FF3355;">ETAPA: "tipoEtapa"</strong>
            <hr style="margin:0;" />

            <table class="table-caso" style="margin-top:15px;">
              <thead id="table-head">
                <tr style="font-size:12px; color:#BDBDBD;">
                  <th scope="col" style="width:400px">TIPO</th>
                  <th scope="col">INICIO</th>
                </tr>
              </thead>
              <tbody style="padding-top:10px; color:#7D7577;">
                <tr>
                  <td>Requerimiento de comparecencia</td>
                  <td>12/04/2021</td>
                </tr>
                <tr>
                  <td>Notificación</td>
                  <td>18/01/2021</td>
                </tr>
                <tr>
                  <td>Presentan demanda</td>
                  <td>26/12/2020</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

   
     <div class="footer d-flex" style="margin-top:10px; padding: 10px 20px 5px;">
        <p>
          Copyright © 2021 <strong>sami.</strong>Todos los derechos reservados.
          <span>Términos del Servicio y Políticas de Privacidad</span>
        </p>
        <img src="./img/svg/group.svg" alt="logo" />
      </div>

    </div>