.container-formNewActuation {
  padding: 50px 0 50px 58px;
}

.form-newActuation{
    span {
    width: 230px;
  }
}


.warning-text {
  color: $secondary-red;
  font-size: 20px;
}

.input-actuationType {
  height: 36.44px;
  width: 266px;
  border-radius: 10px;
}

.input-stage {
  height: 39px;
  width: 231px;
  border-radius: 10px;
}

.input-description {
  width: 414px;
  height: 105px;
  border-radius: 10px;
}

.divInputForm-documents {
  margin-bottom: 98px;

  img {
    margin-right: 12px;
  }
}

.container-btns {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    margin: 30px;
  }
  
  img {
    margin-right: 10px;
  }
}