.container-login {
  height: 100vh;
  background: linear-gradient(225deg, #FF3355 18.23%, #C50121 67.19%, #960019 92.19%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  padding: 226px 202px 232px 290px;
  justify-content: center;
}

.container-login .div-logo-form {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  align-items: center;
  justify-content: center;
}

.div-logo-form .logoLogin {
  height: 67.51px;
  width: 200px;
}

.div-logo-form .form {
  margin-left: 120px;
}

.form1{
  width: 628px;
  height: 502px;
  left: 610px;
  padding: 78px 11px 0 80px;
  background: $white;
  border-radius: 8px;
}

.img_group{
  width: 18px;
  height: 27.2px;
}

.flex_newAccount{
  margin-top: 22.80px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.flex_newAccount a {
  text-decoration: none;
  margin-left: 5px;
}

.form .txtgray {
  color: $txtGray;
  font-size: 14px;
}

.form .ptxtRed {
  color: $txtRed;
}

.container_email {
  margin-top: 52px;

  label {
    margin-bottom: 0;
    top: -10px;
    padding: 2px;
    z-index: 1;
    color: $primary-red;

    ::after {
      content: " ";
      background-color: $white;
      width: 100%;
      height: 13px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  span {
    position: absolute;
    margin-top: -10px;
    padding: 0 4px;
    margin-left: 10px;
    background: $white;
  }

  input {
    width: 284px;
    height: 45px;
    border-radius: 10px;

    :focus {
      outline: 0;
    }
  }
}

.container_password {
  margin-top: 37.35px;
  width: 284px;
  flex-wrap: nowrap;

  input {
    width: 284px;
    height: 45px;
    border-radius:10px;
    outline: 0;
    background: none;
    box-shadow: 0 0 0px 25px white inset;
  }
}

.icon-eye {
  margin-top: 3px;
  margin-left: -41.87px;
}

.form .subtxt {
  font-size: 12px;
}

.form .txtPlaceholderGray {
  font-size: 14px;
}

.toggle {
  background: none;
  border: none;
}

.btnToggle {
  display: flex;
  height: 25px;
  margin-top: 10.65px;
}

.forget-password {
  margin-top: 18.75px;

  a {
    font-size: 12px;
    margin-left: 170px;
    color: #1890FF;
  }
}

.getIn{
  margin-top: 9px;
  width: 87px;
  height: 40px;
  background: $primary-red;
  border-radius: 8px;
  color: $white;
  font-size: 14px;
  border: 1px solid $primary-red;
}
